h1 {
    color: 
    darkorange;
    text-align: center;
}
h3 {
    color: limegreen;
}
p {
  color: dodgerblue;
}
html {
  font-size: 15px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: open sans; /* this should be the rest of the output you got from Google fonts */
}
h2 {
    color: 
    gold;
}
h4 {
    color:
    gray;
}